.availability-cell {
    cursor: pointer;
    background-color: #ffffff;
    padding: 5px;
}

.availability-cell.selected {
    background-color: #f7984b;
}

#day-selection {
    margin-bottom: 20px;
}

#day-input {
    margin-right: 10px;
}

#add-day-btn {
    margin-top: 1em;
    cursor: pointer;
}

#availability-tables {
    margin-top: 20px;
}

#availability-tables > div {
    margin-bottom: 20px;
}

#availability-tables table {
    margin: 0 auto;
    width: 100%;
    border-collapse: collapse;
}

#availability-tables th,
#availability-tables td {
    border: 1px solid #000000;
    text-align: center;
}

#availability-tables th {
    background-color: #4b6c8b;
}
#availability-tables tr {
    background-color: #7f9db8;
}

#availability th,
#availability td {
    padding: 4px;
    border: 1px solid #555;
    text-align: center;
    cursor: pointer;
}

#availability th:hover,
#availability td:hover {
    background-color: #555;
}

#delete-all-btn {
    background-color: #d9534f;
    width: 20%;
    height: 2em;
    margin: 0 auto;
}

#delete-all-btn:hover {
    background-color: #c9302c;
}

h1,
h2 {
    text-align: center;
    color: #f0f0f0;
}

form {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #4b6c8b;
    border-radius: 5px;
    background-color: #f4f4f9;
    color: #4b6c8b;
    font-weight: bold;
    box-sizing: border-box;
}

button {
    width: auto;
    padding: 5px;
    background-color: #ff5100bb;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.availability-cell {
    cursor: pointer;
    background-color: #ffffff;
    padding: 5px;
    transition: background-color 0.3s ease;
}

.availability-cell.selected {
    background-color: #f5a768;
}

.availability-cell:hover,
.pista-cell:hover {
    background-color: #cac4b6;
    cursor: pointer;
}

.hour-cell:hover {
    cursor: pointer;
}

.availability-cell.preview {
    background-color: rgba(245, 167, 104, 0.5);
}

.container-availability {
    margin: 0 auto;
    width: 80%;
}

#navigation-buttons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 45%;
    left: 15%;
    right: 0;
    transform: translateY(-50%);
    pointer-events: none; /* Allow clicks to pass through */
    margin: 0 auto;
    width: 75%;
    height: 20%;
}

.navigation-buttons button {
    background-color: grey;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    font-size: 1.5em;
}

.navigation-buttons button:hover {
    background-color: darksalmon;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid black;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    background-color: #4b6c8b;
}

.table-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.table-container table {
    flex-grow: 1;
}

.delete-day-btn {
    position: absolute;
    right: -2em;
    top: 3.3em;
    bottom: 0;
    width: 2em;
    border: solid 1px darkred;
    border-radius: 0px 5px 5px 0px;
    background-color: #d9534f;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.delete-day-btn:hover {
    background-color: #c9302c;
}
