.availability-cell {
    cursor: pointer;
    background-color: #ffffff; /* Color de fondo por defecto */
    padding: 5px;
}

.availability-cell.selected {
    background-color: #f7984b; /* Color de fondo cuando está seleccionado */
}

#day-selection {
    margin-bottom: 20px;
}

#day-input {
    margin-right: 10px;

}

#add-day-btn {
    margin-top: 1em;
    cursor: pointer;
}

#availability-tables {
    margin-top: 20px;
}

#availability-tables > div {
    margin-bottom: 20px;
}

#availability-tables table {
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse;
}

#availability-tables th, #availability-tables td {
    border: 1px solid #000000;
    text-align: center;
}

#availability-tables th {
    background-color: #302f2f;
}
