/* General styling */
h1,
h2 {
    text-align: center;
    color: #f0f0f0;
}

button {
    width: auto;
    padding: 12px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.down-button {
    width: 20em;
    justify-content: start;
    margin: 0.5em 0.5em 0.5em 0;
    padding: 1em;
    background-color: #586f7c;
    color: #fff;
    font-weight: bold;
    border: solid 1px #3b4954;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.clear-schedule-btn,
.edit-btn {
    padding: 5px;
    background-color: #586f7c;
    border: solid 1px #3b4954;
}

.down-button:hover,
.clear-schedule-btn:hover,
.edit-btn:hover {
    background-color: #2a353c;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #4b6c8b;
    color: #f0f0f0;
}

th,
td {
    padding: 8px;
    text-align: left;
    border: 1px solid #adadb2;
}

th {
    background-color: #4b6c8b;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #3a566f;
}

tr:hover {
    background-color: rgba(29, 29, 29, 0.5);
}

.hidden-row {
    display: none;
}

.category-header {
    cursor: pointer;
    color: #f4f4f9;
    background-color: rgba(29, 29, 29, 0.5);
    font-weight: bold;
    text-align: center;
}

.down-options {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.overflow-cell {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Popup styles */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    display: none;
}

.popup-content {
    background: #586f7c;
    padding: 20px;
    border-radius: 5px;
    color: #f0f0f0;
    width: 300px;
    max-width: 90%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.popup-content h3 {
    margin-top: 0;
    font-size: 1.2em;
}

.popup-content label {
    display: block;
    margin: 10px 0 5px;
}

.popup-content select {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #3b4954;
    color: #f0f0f0;
}

.popup-content select:focus {
    border-color: #ff5100;
    outline: none;
}

#save-schedule-btn,
#cancel-schedule-btn {
    width: 45%;
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff5100bb;
    color: #fff;
    cursor: pointer;
}

#save-schedule-btn:hover,
#cancel-schedule-btn:hover {
    background-color: #ff5100;
}

.unprogrammed-match {
    border-right: 4px solid #ff0000;
}

.unprogrammed-match td {
    color: #b0b0b0;
}

.by-rows {
    border-left: none;
}
