h1,
h2 {
    text-align: center;
    color: #f0f0f0;
}

.container > img {
    width: 90%;

    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

.hidden {
    display: none;
}

#mobile-warning {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1000;
    color: black;
}

#mobile-warning > h1 {
    color: red;
}
