h1,
h2 {
    text-align: center;
    color: #f0f0f0;
}

.image-container {
    height: 100%;
    background-image: url("../img/schema.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hidden {
    display: none;
}

#mobile-warning {
    position: fixed;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1000;
}

.message {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
}

.message > h1 {
    color: #f28123;
    border: 2px solid #f28123;
}

.container {
    overflow: hidden;
}

/* Separarion boton inico */
.start-btn-content {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91c9ff;
    outline: none;
    transition: 1s ease-in-out;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.btn:hover {
    transition: 1s ease-in-out;
    background: #4b657d;
}

.btn:hover svg {
    stroke-dashoffset: -480;
}

.btn span {
    color: white;
    font-size: 2em;
    font-weight: 200;
}

.center {
    width: 180px;
    height: 60px;
    position: absolute;
}

/* Animacion */
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6); /* Fondo semitransparente */
    display: none; /* Oculto por defecto */
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Para alinear el texto y el loader verticalmente */
    z-index: 9999;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

.loader-text {
    font-family: "Concert One", cursive;
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #3498db;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
