body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #2c2c2c;
    margin: 0;
    padding: 0;
    color: #f0f0f0;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    width: 17%;
    background-color: #1a1a1a;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    height: 100%;
    overflow-y: auto;
}

.sidebar h2 {
    color: #f0f0f0;
    text-align: center;
    margin-bottom: 20px;
}

.sidebar-image {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: auto; 
}

.sidebar button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.sidebar .button-subOption{
    width: 100%;
    padding: 10px;
    background-color: #474747;
    color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.sidebar .active-button{

    width: 100%;
    padding: 10px;
    background-color: #696868;
    color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
    
}

.sidebar button:hover {
    background-color: #555;
}

.content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.container {
    width: 100%;
    background-color: #3c3c3c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

h1, h2 {
    text-align: center;
    color: #f0f0f0;
}

/* Formulario y botones */
form {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #2c2c2c;
    color: #f0f0f0;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #2c2c2c;
    color: #f0f0f0;
}

th, td {
    padding: 4px;
    text-align: left;
    border-bottom: 1px solid #555;
}

th {
    background-color: #444;
}

tr:nth-child(even) {
    background-color: #3c3c3c;
}

/* Estilos específicos para la tabla de disponibilidad */
#availability th, #availability td {
    padding: 4px;
    border: 1px solid #555;
    text-align: center;
    cursor: pointer;
}

#availability th:hover, #availability td:hover {
    background-color: #555;
}

.selected {
    background-color: #007bff;
    color: #fff;
}