h1,
h2 {
    text-align: center;
    color: #f0f0f0;
}

.inscriptions-container {
    width: 90%;
    margin: 0 auto;
}

form {
    display: grid;
    gap: 10px;
}

.open-add-button:hover {
    background-color: #5cb85c;
    color: white;
}

.delete-all-btn:hover {
    background-color: #da5c58;
    color: white;
}

#tournament-form {
    text-align: center;
    align-items: center;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "title title"
        "name1-form name2-form"
        "category category"
        "category-form category-form"
        "sex sex"
        "sex-form sex-form"
        "add-button close-btn";
}

#tournament-form > .tittle {
    grid-area: title;
}

#tournament-form > #player1 {
    grid-area: name1-form;
}

#tournament-form > #player2 {
    grid-area: name2-form;
}

#tournament-form > .category-title {
    grid-area: category;
}

#tournament-form > #category {
    grid-area: category-form;
}

#tournament-form > .sex-title {
    grid-area: sex;
}

#tournament-form > #sex {
    grid-area: sex-form;
}
#tournament-form > .close-btn {
    width: 100%;
    grid-area: close-btn;
}

#tournament-form > .add-button {
    width: 100%;
    grid-area: add-button;
}

label {
    font-weight: bold;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #4b6c8b;
    border-radius: 5px;
    background-color: #f4f4f9;
    color: #4b6c8b;
    font-weight: bold;
    box-sizing: border-box;
}

.action-container {
    display: flex;
    flex-direction: row;
}

button {
    padding: 12px;
    background-color: #ff5100bb;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.img-edit-pair-btn,
.img-save-pair-btn,
.img-del-pair-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5em;
}

button.edit-button,
button.save-button,
button.delete-button {
    margin: 0.2em;
    padding: 0.2em;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
}

button.save-button:hover {
    background-color: grey;
}

button.edit-button:hover {
    background-color: #d9822b;
}

button.delete-button:hover {
    background-color: #c9302c;
}

table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    background-color: #4b6c8b;
    border: 1px solid #adadb2;
    color: #f0f0f0;
}

.overflow-cell {
    width: 0%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

tr,
td {
    padding: 0.2em;
    padding-left: 0.5em;
    text-align: left;
    border-bottom: 1px solid #adadb2;
}
#tournament-body > tr:not(.category-header):hover {
    background-color: rgba(29, 29, 29, 0.2);
}

.menu-actions {
    display: flex;
    flex-direction: row;
    justify-content: left;
    border-radius: 10px 10px 0 0;
    border: 1px solid #adadb2;
    border-bottom: none;
    background-color: #4b6c8b;
    padding: 0.5em;
}

.actions-row {
    width: 7%;
}

.up-element {
    width: auto;
    margin: 0 0.5em 0 0;
    justify-content: center;
    padding: 1em;
    background-color: white;
    color: #4b6c8b;
    font-weight: bold;
    font-size: 0.8em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
}

.table-header > .add-button:hover {
    background-color: limegreen;
}

.category-header {
    cursor: pointer;
    color: #f4f4f9;
    font-weight: bold;
    background-color: rgba(29, 29, 29, 0.459);
}

.hidden-row {
    display: none;
}

.content {
    display: flex;
    flex-direction: row;
}

.inscripciones-container {
    width: auto;
    max-width: 13%;
    background-color: #4b6c8b;
    margin-left: 2em;
    padding: 1.2em;
    box-shadow: 5px 10px 15px #4b6c8b;
    border-radius: 0.4em;
    overflow-y: auto;
}

/* Popup container - can be anything you want */
.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Disable scroll */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Popup content */
.popup-content {
    background: linear-gradient(135deg, #4b6c8b, #6786a4);
    margin: auto; /* Centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 500px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Disable scroll on body when popup is open */
body.no-scroll {
    overflow: hidden;
}
