body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #2c2c2c;
    margin: 0;
    padding: 0;
    color: #f0f0f0;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    width: 17%;
    background-color: #1a1a1a;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    height: 100%;
    overflow-y: auto;
}

.sidebar-image {
    width: 100%;
}

.sidebar button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.sidebar .active-button {
    width: 100%;
    padding: 10px;
    background-color: #696868;
    color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.sidebar button:hover {
    background-color: #555;
}

.content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.container {
    width: 100%;
    background-color: #3c3c3c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
